<div class="mx-auto-320px pt-3">
  <h6>
    Charts in Angular 14
  </h6>
  <h1>
    Muaaz Farooq Khan
  </h1>

  <hr class="mb-2">
  <!-- ng-2 Chart -->
  <app-line-chart></app-line-chart>
</div>
<!-- High Chart -->
<!-- Button to add some new point -->
<button (click)="add()">Add Point!</button>
<!-- HighChart created -->
<div [chart]="chart"></div>

<!-- Button to clear selection -->
<button (click)="clearSelection()">Clear Selection</button>
<!-- AG Grid Angular Component -->
<ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData$ | async"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
 ></ag-grid-angular>